@import "../core/swiper-3.3.1.min.css";

.swiper-container {
  width: 100%;
  height: 100%;
  img {
    width: 100%;
    height: 100%;
  }
  .guide-bottom{
  	position: absolute;
  	height: .9rem;
  	width: 100%; 
    bottom:0;
  }
}
