@charset "utf-8";

@import "../../lib/element/yo-loading";

.m-index {
  @include flexbox(flex);
  @include flex-direction(column);
  width: 100%;
  height: 100%;
  background: #fff;

  .l-index-content {
    @include flex(1);
    width: 100%;
    position: relative;

    spa-view {
      background: #fff !important;

      header {
        @include flexbox(flex);
        @include justify-content(center);
        @include align-items(center);
        background-color: #0dc441;
        height: .44rem;
        font-size: .12rem;
        position: relative;
        ul {
          width: 1.18rem;
          @include flexbox(flex);
          li {
            @include flex(1);
            height: .25rem;
            text-align: center;
            line-height: .25rem;
            background-color: rgba(100,217,133,0.5);
            color: rgba(255,255,255,0.5);
            &:first-child {
              border-top-left-radius: .1rem;
              border-bottom-left-radius: .1rem;
            }
            &:last-child {
              border-top-right-radius: .1rem;
              border-bottom-right-radius: .1rem;
            }
            &.active {
              background-color: #64d985;
              color: #FFF;
            }
          }
        }
        > div.scan {
          position: absolute;
          right: .04rem;
          width: 0.3rem;
          height: 0.3rem;
          font-size: .24rem;
          color: rgba(255,255,255,0.8);
          top: .04rem;
        }
        > div.menu {
          position: absolute;
          left: .15rem;
          width: 0.3rem;
          height: 0.3rem;
          font-size: .2rem;
          color: rgba(255,255,255,0.8);
          top: .07rem;
        }
      }

      #home-swiper{
        @include flex(1);
        width: 100%;

        nav {
          height: .35rem;
          font-size: .14rem;
          margin-bottom: .05rem;
          background: #fff;
          ul {
            width: 100%;
            height: 100%;
            @include flexbox(flex);
            li {
              @include box-sizing(border-box);
              @include flex(1);
              height: 100%;
              text-align: center;
              line-height: .35rem;
              &:not(.active){
                color: #666;
                @include border(0 0 1px 0, #d9d9d9);
              }
              &.active {
                color: #0dc441;
                border-bottom: solid 2px #0dc441;
              }
            }
          }
        }

        #home-hot-swiper {
          @include flex(1);
          width: 100%;
          margin-bottom: .49rem;
          background: #fff;

          .swiper-wrapper {
            .swiper-slide {
              section#liveScroll {
                width: 100%;
                height: 100%;
                position: relative;
                margin-top: -1.33rem; // 44+35+44+5+5
                >div {
                  position: absolute;
                  width: 100%;
                  padding-top: 1.33rem;
                  >div.head {
                    text-align: center;
                    height: .35rem;
                    line-height: .35rem;
                    img {
                      width: .13rem;
                      height: .13rem;
                      margin-bottom: 0.02rem;
                      display: inline-block;
                      transform: rotate(180deg);
                      -webkit-transform: rotate(180deg);
                      transition: transform 150ms;
                      -webkit-transition: transform 150ms;
                    }
                  }
                  >div.foot {
                    text-align: center;
                    height: .35rem;
                    line-height: .35rem;
                    img {
                      width: .13rem;
                      height: .13rem;
                      margin-bottom: 0.04rem;
                      display: inline-block;
                      transition: transform 150ms;
                      -webkit-transition: transform 150ms;
                    }
                  }
                  .up {
                    transform: rotate(360deg) !important;
                    -webkit-transform: rotate(360deg) !important;
                  }
                  .down {
                    transform: rotate(180deg) !important;
                    -webkit-transform: rotate(180deg) !important;
                  }
                  ul {
                    @include flexbox(flex);
                    padding-bottom: .05rem;
                    li {
                      @include box-sizing(border-box);
                      &:not(:nth-child(2)){
                        @include border(1px, #e5e5e5);
                        @include flex(1);
                        &.none-border {
                          @include border(0);
                        }
                      }
                      &:nth-child(2) {
                        width: .05rem;
                      }
                      img {
                        width: 100%;
                      }
                      b {
                        @include box-sizing(border-box);
                        display: block;
                        padding: .09rem;
                        font-weight: normal;
                        @include border(1px 0 0 0, #e5e5e5);
                        @include ellipsis(true);
                        &.none-border {
                          @include border(0);
                        }
                      }
                    }
                    &:last-child {
                      padding-bottom: 0;
                    }
                  }
                }
              }
              section#waterfall {
                position: relative;
                padding-bottom: 1.33rem; // 44+35+44+5+5
                .box {
                  @include box-sizing(border-box);
                  float: left;
                  width: 49.9999%;
                  padding: .02rem;
                  .gap {
                    @include border(1px, #e5e5e5);
                    .img {
                      background-size: contain;
                      @include border(0 0 1px 0, #e5e5e5);
                    }
                    .desc {
                      padding: 0.09rem;
                    }
                  }
                }
              }
              section#css3waterfall {
                height: 100%;
            		background: #fff;
            		position: relative;
            		.cont {
                  @include box-sizing(border-box);
            			cursor: pointer;
            			position: absolute;
            			padding-bottom: 1.33rem;
            			.pic {
            				@include prefix(column-count, 2);
            				@include prefix(column-gap, 0.05rem);
            				>div {
            					padding-bottom: .05rem;
            					@include prefix(column-break-inside, avoid);
            					span {
            						display: block;
            						width: 100%;
            						@include border($border-width: 1px, $border-color: #e5e5e5);
            						img {
            							width: 100%;
            						}
            						i {
            							padding: .08rem 0.1rem;
            							font-size: .14rem;
            							display: block;
            							@include border($border-width: 1px 0 0 0, $border-color: #e5e5e5);
            						}
            					}
            				}
            			}
            		}
              }
            }
          }
        }

        .home-focus {
          background: #eceef0 !important;
          > section {
            padding-bottom: .44rem;
            position: relative;
            @extend %dock-menu;
          }
        }
      }
    }
  }

  .l-footer {
    height: .44rem;
    @include border(1px 0 0 0, #ced6cf);
    background: #fff;
    ul {
      width: 100%;
      height: 100%;
      @include flexbox(flex);
      li {
        @include flex(1);
        @include align-items(center);
        @include justify-content(center);
        position: relative;
        &.camera {
          i {
            position: absolute;
            z-index: 9999;
            width: .53rem;
            height: .53rem;
            top: -0.11rem;
            left: 50%;
            @include transform(translateX(-50%));
            background: #fff;
            font-size: .34rem;
            @include border(1px, #d6d6d6, solid, 50%);
          }
        }
        b, i {
          display: block;
          width: 100%;
          text-align: center;
          color: #d6d6d6;
        }
        &.active b, &.active i {
          color: #0dc441;
        }
        i {
          font-size: .18rem;
          height: .23rem;
          padding-top: .02rem;
        }
        b {
          font-weight: normal;
          font-size: .12rem;
        }
      }
    }
  }
}

body {
  @extend %dock-menu;
  > div {
    width: 100%;
    position: fixed;
    z-index: 10000;
    top: .43rem;
  }
}
