@charset "UTF-8";

@import "../../lib/fragment/yo-list";
@import "../../lib/widget/yo-dialog";
@import "../../lib/element/yo-btn";
@import "../../lib/element/yo-input";

@include yo-dialog(
  $name: a,
  $height: 2rem,
  $title-color: #0dc441
) {
  .hd {
    position: relative;
    i {
      display: block;
      position: absolute;
      top: 0;
      right: .1rem;
      font-size: .2rem;
      color: #dedede;
    }
  }
  .ft {
    button {
      color: #0dc441 !important;
      &:first-child {
        color: #ccc !important;
      }
    }
  }
};

.yo-list > .item:last-child {
  background: none;
}
