@charset "UTF-8";
@import "../../lib/fragment/yo-header";

@include yo-header(
  $color: #fff,
  $bgcolor: #0dc441
) {
  border: none;
}

.m-my {
  @include flexbox(flex);
  @include flex-direction(column);
  height: 100%;
  section {
    @include flex(1);
    width: 100%;
    margin: .05rem 0;
    background: #fff;
    @extend %focus;
    nav {
      ul {
        @include flexbox(flex);
        li {
          @include flex(1);
          height: .3rem;
          line-height: .3rem;
          text-align: center;
          color: #999;
          font-size: .12rem;
          @include box-sizing(border-box);
          &:not(.active) {
            @include border(0 0 1px 0, #ccc);
          }
          &.active {
            color: #0dc441;
            border-bottom: solid 2px #0dc441;
          }
        }
      }
    }
    .body {
      img {
        width: 50%;
      }
    }
  }
}
