@charset "UTF-8";
@import "../../lib/fragment/yo-header";
@import "../../lib/element/yo-btn";
@import "../../lib/element/yo-input";

@include yo-header(
  $color: #fff,
  $bgcolor: #0dc441
) {
  border: none;
  > .regret {
    color: rgba(255,255,255,0.8);
  }
};

@include yo-btn(
  $name: follow,
  $color: #fff,
  $bordercolor: #0dc441,
  $bgcolor: #0dc441
) {
  position: absolute;
  top: .22rem;
  right: .13rem;
};

@include yo-btn(
  $name: follow-disabled,
  $bordercolor: #e5e5e5,
  $bgcolor: #e5e5e5
);

@include yo-btn(
  $name: search,
  $color: #fff,
  $height: .33rem,
  $bordercolor: #0dc441,
  $bgcolor: #0dc441,
  $padding: 0,
  $width: 100%
);

@include yo-input(
  $name: a,
  $padding: .05rem,
  $height: auto
) {
  @include box-sizing(border-box);
};

.m-search {
  @include flexbox(flex);
  @include flex-direction(column);
  height: 100%;
  .search {
    height: .44rem;
    @include flexbox(flex);
    background: #fff;
    > ul {
      width: 100%;
      height: 100%;
      @include flexbox(flex);
      li {
        @include box-sizing(border-box);
        &:first-child{
          padding: .05rem;
          @include flex(1);
        }
        &:last-child {
          width: .57rem;
          padding: .05rem .05rem .05rem 0;
        }
      }
    }
  }
  section {
    @include flex(1);
    width: 100%;
    margin: .05rem 0;
    background: #fff;
    @extend %focus;
    > ul {
      @include border(0 0 1px 0, #e5e5e5);
      li:last-child {
        position: relative;
      }
      li > p {
        padding-right: .75rem !important;
      }
    }
  }
}
