/*重置页面样式*/
html,
body,
ul,
li,
ol,
dl,
dd,
dt,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
legend,
img {
    margin: 0;
    padding: 0;
}
fieldset,
img {
    border: none;
}
img {
    display: block;
}
address,
caption,
cite,
code,
dfn,
th,
var {
    font-style: normal;
    font-weight: normal;
}
ul,
ol {
    list-style: none;
}
body {
    color: #333;
    padding: 5px 0;
    font: 12px/20px "SimSun", "宋体", "Arial Narrow", HELVETICA;
    background: #fff;
    /* overflow-y:scroll;*/
    overflow-x: hidden;
}
a {
    color: #666;
    text-decoration: none;
    cursor: pointer;
}
.header,
.content,
.footer {
    width: 100%;
}
.top,
.cont,
.bottom {
    width: 1190px;
    margin: 0 auto;
}
/*头部样式----------------header start*/
.header {
    height: 172px;
}
/*top层*/
.top {
    height: 27px;
    background: #f4f4f4;
    overflow: hidden;
}
.top-left {
    float: left;
    width: 110px;
    height: 27px;
}
.top .login,
.top .signup {
    font-size: 12px;
    line-height: 27px;
    padding: 0 6px;
}
.phone {
    display: block;
    float: left;
    margin-top: 6px;
    line-height: 0px;
}
.phoimg {
    display: inline-block;
}
.sjb {
    display: block;
    float: left;
    line-height: 27px;
    margin-left: 3px;
}
.top-right {
    float: right;
    width: 342px;
}
.top-right a {
    padding: 0 6px;
}
.top-right span {
    padding: 0 6px;
}
/*h-mid中部层*/
.h-mid {
    height: 110px;
    width: 1280px;
    margin: auto;
}
.logo {
    height: 109px;
    float: left;
    width: 574px;
}
.h-mright {
    float: right;
    height: 109px;
    width: 685px;
}
.searchbox {
    width: 535px;
    height: 35px;
    margin-top: 35px;
    border: 2px solid #c01460;
}
.search-pic {
    width: 35px;
    height: 35px;
    display: block;
    float: left;
    background: url(../images/main/search-pic.jpg) center no-repeat;
    margin-left: -3px;
}
.search {
    width: 407px;
    height: 32px;
    outline: none;
    float: left;
    margin-left: -3px;
    border: none;
}
.search-pic2 {
    display: block;
    float: left;
    width: 99px;
    height: 35px;
    background: #c01460;
}
.h-mlist {
    width: 535px;
    height: 35px;
}
.h-mlist>li {
    float: left;
    text-align: center;
}
.h-mlist>li>a {
    padding: 0 5px;
}
/*h-nav层*/
.h-nav {
    height: 37px;
    background: black;
}
.h-navwrap {
    width: 1190px;
    height: 37px;
    margin: 0 auto;
    position: relative;
}
.h-navwrap>ul {
    height: 36px;
    float: left;
}
.h-navwrap>ul>li {
    float: left;
}
.h-navwrap>ul>li>a {
    display: block;
    padding: 0 23px;
    line-height: 35px;
    height: 35px;
    font-size: 16px;
    color: white;
}
.h-navwrap ul>li>a:hover {
    background: #e00482
}
.h-navright {
    width: 78px;
    height: 35px;
    float: right;
    cursor: pointer;
}
.h-navright img {
    float: left;
}
.h-navright span {
    float: left;
    line-height: 37px;
    color: white;
}
.clasify {
    z-index: 999;
    background:white;
    position: absolute;
    width: 731px;
    height: 409px;
    top: 40px;
    right: 0px;
    display: none;
}
.clasigoods {
    float: left;
    width: 181px;
    height: 347px;
    background: #f6f6f6;
    opacity: 0.5;
}
.clasigoods>li>a {
    display: block;
    width: 181px;
    height: 47px;
    line-height: 47px;
    position: relative;
}
.clasify-right {
    width: 520px;
    float: left;
    padding-left: 20px;
}
.clasifyr-top {
    width: 520px;
}
.clasifyr-top>ul {
    width: 520px;
    padding-top: 1px;
    overflow: hidden;
}
.clasifyr-top>ul>li {
    width: 260px;
    float: left;
}
.clasifyr-top>ul>li>h3 {
    width: 230px;
    font-size: 14px;
    border-bottom: 2px solid #000;
}
.clasifyr-top>ul>li>div {
    width: 230px;
    padding-top: 6px;
    line-height: 2.4;
}
.clasifyr-top>ul>li>div>a {
    color: #666;
    margin-right: 15px;
}
.clasifyr-bottom {
    width: 520px;
    height: 63px;
}
.clasifyr-bottom h4 {
    height: 34px;
    margin-right: 25px;
    padding-top: 10px;
    border-bottom: 1px solid gray;
}
.clasifyr-bottom h4 img {
    float: right;
}
/*header end*/
/*content start*/
.content {
    min-height: 1000px;
    height: auto!important;
    height: 600px;
}
.content:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden;
}
/*cont*/
.cont {
    min-height: 1000px;
    height: auto!important;
    height: 600px;
    background: brown;
}
.cont:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden;
}
/*content end*/
/*footer start*/
.footer {
    height: 165px;
}
.footnav {
    height: 36px;
    height: 36px;
    background: black;
    width: 100%;
}
.foot-nav {
    height: 36px;
    background: black;
    width: 1190px;
    margin: auto;
}
.telephone {
    width: 500px;
    height: 36px;
    margin-left: 20px;
    float: left;
}
.foot-nav ul {
    float: left;
}
.foot-nav ul li {
    float: left;
}
.foot-nav ul li a {
    padding: 0 15px;
    display: block;
    height: 36px;
    line-height: 36px;
    color: white;
    font-size: 12px;
}
.foot-nav ul li a:hover {
    background: #e00482
}
.bottom {
    height: 130px;
}
.bot-copyright {
    height: 60px;
    text-align: center;
    line-height: 60px;
}
.assessment {
    height: 46px;
    border: 1px solid gray;
}
.assessment ul {
    margin: 0 auto;
    width: 730px;
    height: 47px;
}
.assessment ul li {
    float: left;
}
/*footer end*/

/*公共侧边栏 start*/
.fixside {
	position: fixed;width:36px;height:100%;background:black;top:0;right:0;
}
.fixside li{position: relative;}
.fixside-top {
    padding-top:155px;
	height:550px;
  
}
.fixside-top li{margin-bottom: 2px;
	
}
.fix-ta1{display: block;width:36px;height:120px;background:url(../images/main/fix.png) -35px 0 no-repeat;}
.fix-ta2{display: block;width:36px;height:120px;background:url(../images/main/fix.png) 0px -121px no-repeat;}
.fix-ta3{display: block;width:36px;height:33px;background:url(../images/main/fix.png) 0px -242px no-repeat;}
.fix-ta4{display: block;width:36px;height:33px;background:url(../images/main/fix.png) 0px -275px no-repeat;}
.fixside-top li div{position:absolute;bottom:0;right:55px;display: none;opacity: 0;
	
}
.fixside-toph5{position: absolute;left:0;bottom:12px;width:4px;height:9px;background:url(../images/main/yousanjiao.jpg) center;display: none;}
.fix-td1 {
	width:122px;height:96px;background:white;padding-top:24px;padding-left: 13px;
}
.fix-td1 h3{width:86px;height:25px;background:url(../images/main/fix.png) -71px 0 no-repeat;margin-bottom: 9px;
	
}

.fix-td2 {
	width:90px;height:31px;background:white;line-height: 33px;color:red;text-align: center;border: 1px solid gray;
}
/*下部*/
.fixside-bottom {
	position: absolute;bottom:10px;right:0;height:66px;width:36px;
}
.fix-ba1{display: block;width:36px;height:33px;background:url(../images/main/fix.png) 1px -305px no-repeat;}
.fix-ba2{display: block;width:36px;height:32px;background:url(../images/main/fix.png) 1px -338px no-repeat;}
.fixside-bottom>li{
	position: relative;
}
.fixside-bottom>li .fix-bd1 {
	width:94px;height:128px;background:white;border: 1px solid gray;border-right:none;padding-left:5px;padding-top: 2px;position: absolute;right:36px;bottom:0px;right:55px;display: none;opacity: 0
}
.fix-bd1 h3{
	width:93px;height:94px;background: url(../images/main/yanzhengma.jpg) center;
}
.fix-bd1 p{
	line-height:33px;text-align: center;
}