/*重置页面样式*/

html,
body,
ul,
li,
ol,
dl,
dd,
dt,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
legend,
img {
    margin: 0;
    padding: 0;
}

fieldset,
img {
    border: none;
}

img {
    display: block;
}

address,
caption,
cite,
code,
dfn,
th,
var {
    font-style: normal;
    font-weight: normal;
}

ul,
ol {
    list-style: none;
}

body {
    color: #333;
    padding: 5px 0;
    font: 12px/20px "SimSun", "宋体", "Arial Narrow", HELVETICA;
    background: #fff;
    /* overflow-y:scroll;*/
    overflow-x: hidden;
}

a {
    color: #666;
    text-decoration: none;
    cursor: pointer;
}
/*公用样式*/
.indexheader,.indexcontwrap,.indexfooter{
	width:100%;
}
.adver {
display: block;	width:100%;height:80px;background:url(../images/index/adver.jpg) center no-repeat;
}

.close{position: absolute;background:white;width:20px;height:20px;text-align: center;line-height: 20px;top:10px;right:50px;opacity: 0.5}


.indexcontwrap{
    min-height: 1000px;
    height: auto!important;
    height: 1000px;
   background: #f5f5f5;
}
.indexcontwrap:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden;
}
/*indexcont*/
.indexcont {
    min-height: 1000px;
    height: auto!important;
    height: 1000px;
   
    width:1190px;margin:auto;
    
}
.indexcont:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden;
}
.lbt{
    height:300px;
   margin-top:2px;
   
} 
.information {
	height:90px;
}
.index-info ul{width:1000px;height:90px;;margin:auto;
	
}
.index-info ul li{
	float:left;width: 200px;
    padding: 20px 0 20px 40px;
    height: 50px;
    position: relative;
    
}
.index-info ul li a{display: block;width:200px;height:50px;
	
}
.index-info ul li a span{display: block;float:left;}
.index-info ul li a strong{line-height: 32px;font-size: 16px;}
.index-info ul li:hover a{color:red;}

.good-show1 {
	height:160px;
}
.good-show1ul{height:160px;overflow: hidden;margin-right: -10px;padding-top: 20px;}
.good-show1ul li{float:left;margin-right:10px;width:290px;height:140px;
	
}
.good-show1ul li a{display: block;width:290px;height:140px;}

/*show2开始*/
.good-show2 {
	height:580px;margin-top:28px;
}
.h-head {
    margin-bottom: 30px;
    text-align: center;
    height:30px;
    background: url(../images/index/h-head.jpg) left center repeat-x;
  
}

.h-head img{margin:auto;padding:0 45px;background:#f5f5f5;}

.show2pic {
	height:520px;
}
.show2pic-left {
    float:left;
	width:330px;height:520px;margin-left:-10px;
}
.good-show2ul{height:520px;width:870px;float:right;}
.good-show2ul li{float:left;
	position: relative;width:290px;height:260px;
}
.good-show2ul li a{position: absolute;top:0;left:0;border:1px solid #f5f5f5;border-bottom:none;border-right:none;}


/*show2结束*/

/*show3开始*/
.good-show3 {background:white;
	height:500px;margin-top:28px;
}
.show3pic {
	height:440px;padding: 15px;
}
.show3pic-left {
    float:left;
	width:300px;height:410px;
}
.show3pic-right {
    width:860px;
	height:410px;float:right;
}
.show3pic-rpic{width:420px;height:200px;margin-left:10px;float:left;margin-bottom: 10px;}


/*show3 end*/
/*showall start*/
.good-showall {
	min-height: 600px;overflow: hidden;padding-top:35px;
}
/*左侧开始*/
.good-showleft {margin-left:5px;
	float:left;min-height: 500px;width:800px;
}
.good-showlefttit {
	width:800px;height:52px;border-bottom: 2px solid black;
}
    
    .good-showlefttit img{float:left;}  
.good-showlefttit a{float:right;line-height: 52px;}
.gsal{width:100%;} 
.gsal li{margin-top:22px;display: block;background:white;}
.gsal li:hover{box-shadow: 0 0 5px 0}


.gooditem{width:800px;height:260px;}
.gooditpic {overflow: hidden;
	width:418px;height:260px;float:left
}
.gooditpic img{
width:100%;height:100%;	 
}
.gooditintro{float:right;padding: 11px 14px;width:354px;height:238px;}
.specialtit{
   margin-bottom: 10px; width:354px;height:34px;line-height:34px;
}
.specialtit img{width:34px;height:34px;float:left;
	
}
.specialtit-right {
	width:100px;height:64px;float:right;font-size: 20px;text-align: center;
}

.h-special-title{
    margin-bottom:15px;
    font-size:16px;font-weight: 900;
    overflow: hidden; 
text-overflow: ellipsis;
white-space: nowrap;
}
.h-specialtxt{
    height:100px;
}
.h-special-b{
   height: 37px;font-size:22px;line-height: 37px;
    color:#992e64;font-weight:900;
}
.h-special-b .price2 {margin-left:10px;
	font-size:14px;color:gray;font-weight: 100;text-decoration: line-through;
}
.buy{float:right;width:115px;height:32px;background:black;border-radius: 20px;text-align: center;line-height: 30px;margin-top:7px;}
.buy a{line-height: 30px;font-size:18px;color:white;}
.buy:hover{background:#c21e74;}












    
/*  左侧结束  */
/*右侧开始*/
.good-showright {background:white;padding: 0 5px;
	float:right;min-height: 400px;width:367px;
}
.showalltit{height:25px;background:url(../images/index/showalltit.jpg) left center repeat-x;margin-top:36px;margin:auto;width:341px;}
.showalltit p{width:137px;height:25px;text-align: center;background:white;margin:auto;
	
}
.showalltit p a{font-size:16px;}

.showalri-hy{width:367px;margin-top:8px;}
.showalri-hy li{display: block;margin: 12px auto;width:341px;height:154px;}
.showalri-hy img{
    width:341px;height:154px;
}
.showallrxpp {
	width:367px;height:480px;background:white;overflow: hidden;
}
.showallrxpp a {display: inline-block;position: relative;margin-right:-3px;margin-bottom:-5px;
	
}
.showallrxpp a p{position: absolute;bottom:0;left:0;text-align: center;    line-height: 16px;display: none;
    padding: 5px 0;background:#7d7d7d;width:100%;color:white;}

.showallrxpp a:hover p{display: block;}

.showallrxpp a:hover{box-shadow: 0 0 5px 0}