/*重置页面样式*/

html,
body,
ul,
li,
ol,
dl,
dd,
dt,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
legend,
img {
    margin: 0;
    padding: 0;
}

fieldset,
img {
    border: none;
}

img {
    display: block;
}

address,
caption,
cite,
code,
dfn,
th,
var {
    font-style: normal;
    font-weight: normal;
}

ul,
ol {
    list-style: none;
}

body {
    color: #333;
    padding: 5px 0;
    font: 12px/20px "SimSun", "宋体", "Arial Narrow", HELVETICA;
    background: #fff;
    /* overflow-y:scroll;*/
    overflow-x: hidden;
}

a {
    color: #666;
    text-decoration: none;
    cursor: pointer;
}
/*公用样式*/
.gdheader,.gdcontwrap,.gdfooter{
	width:100%;
}
.gdcontwrap{
    min-height: 1000px;
    height: auto!important;
    height: 1000px;
   background: #f5f5f5;
}
.gdcontwrap:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden;
}
/*indexcont*/
.gdcont {
    min-height: 1000px;
    height: auto!important;
    height: 1000px;
   
    width:1190px;margin:auto;
    
}

#list{
	width: 1200px;
	margin: 0 auto;
}
#list li{
	width: 250px;
	padding: 5px;
	border: 1px solid #b6b6b6;
	float: left;
	margin:5px;
}
.img-warp{
	width: 240px;
	height: 200px;
	padding: 5px;
	box-shadow: 0 0 5px #b6b6b6;
}
.img-warp img{
	width:240px;
	height: 200px; 
}
.info{
	width: 240px;
	text-align: center;
	font-size: 14px;
	line-height: 30px;
}
.price{
	text-align: center;
	color: red;
	width: 240px;
}
#setPageDiv{
	margin: 40px auto;
	text-align: center;
}
#setPage{
	margin: 20px;
}
.px{height:30px;margin:auto;}
.zh,.lth,.htl{float:left;width:100px;height:30px;margin-left:50px;background:gray;}




