<ion-view view-title="简介" >
    <ion-nav-buttons side="left" >
        <button class="button button-positive button-clear no-animation tabs " ng-click="startApp()" ng-show="!slideIndex" >
            英文版
        </button>
        <button class="button button-positive button-clear no-animation" ng-click="previous()" ng-show="slideIndex > 0">
            prev
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-positive button-clear no-animation" ng-click="next()" ng-show="slideIndex != 2">
            next
        </button>
        <button class="button button-positive button-clear no-animation" ng-click="startApp2()" ng-show="slideIndex == 2">
           中文版
        </button>
    </ion-nav-buttons>
    <ion-slide-box on-slide-changed="slideChanged(index)" " slide-interval="5000" auto-play="true" does-continue="true">
        <ion-slide id="s0">
          
            
            
           
            <img src="img/ewm.png" class="animated  zoomIn myphoto" style="margin-top:20%">
            <h3  class="animated  fadeInLeft myphoto">张帅简历</h3>
            <p class="animated  fadeInRight myphoto">扫描二维码关注我微信</p>
        </ion-slide>
        <ion-slide id="s1"><h3 style="margin-top:20%">掌握技能</h3>
           <ul class="myprojectshow">
             <li class="animated zoomInLeft"><img src="img/ionic.png" alt=""></li>
             <li class="animated zoomInLeft"><img src="img/angularjslogo.png" alt=""></li>
             <li class="animated zoomInLeft"><img src="img/zepto.png" alt=""></li>
             <li class="animated zoomInLeft"><img src="img/h5logo.png" alt=""></li>
             <li class="animated zoomInLeft"><img src="img/jquerylogo.png" alt=""></li>
             <li class="animated zoomInLeft"><img src="img/gulp.jpg" alt=""></li>
             <li class="animated zoomInLeft"><img src="img/htmllogo.png" alt=""></li>
             <li class="animated zoomInLeft"><img src="img/c3.jpg" alt=""></li>
             <li class="animated zoomInLeft"><img src="img/jslogo.png" alt=""></li>

           </ul>
        </ion-slide>
        <ion-slide id="s2">
            
           
<img src="img/daxue
.png" style="margin-top:30%;height:200px;width:80%;" class="animated  fadeInLeft myphoto">
           <h4 style="margin-top:10%" class="animated  fadeInRight myphoto">路漫漫其修远兮，吾将上下而求索。</h4>
        </ion-slide>
    </ion-slide-box>
</ion-view>
