<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{skill.name}}" ng-show="key">
  <ion-content class="padding" has-bouncing='true'>
    <!-- <img ng-src="{{skill.face}}" style="width: 64px; height: 64px">
    <p>
      {{skill.lastText}}
    </p>
 -->  



<div class="list card">

  <div class="item item-avatar">
    <img ng-src="{{skill.face}}" ng-if="skill.face" style="width: 64px; height: 64px">
    <h2>{{skill.name}}</h2>
   
  </div>

  <div class="item item-body">
    <img class="full-image" ng-src="{{skill.face}}" ng-if="skill.face">
    
    <div  style="margin-top:10%" ng-if="skill.intro">
      
{{skill.intro}}
    </div>

<div  style="margin-top:10%" ng-if="!skill.intro">
  <ul style="list-style:disc">
    <li>熟练掌握HTML(html、html5)、CSS(css2.0、css3.0)、JavaScript语言。</li>
    <li>熟练运用DIV + CSS 来制作符合W3C 标准的页面。</li>
    <li>熟悉W3C标准、HTML5语义化、用户体验、交互设计相关知识。</li>
    <li>熟练使用Firebug进行性能调试，熟练掌握五大主流浏览器的兼容问题。</li>
    <li>熟悉掌握移动端页面的开发和响应式布局。</li>
    <li>熟悉微信端网页开发，了解js-sdk。</li>
    <li>熟悉HTML5本地存储API、Video、Audio、XMLHttpRequestLevel2、Canvas等前端开发新技术</li>
    <li>熟练使用Ajax技术实现与后台进行数据(JSON、XML)交互。</li>
    <li>熟悉面向对象编程思想，了解单例、工厂设计模式。</li>
    <li>熟悉HTTP通信协议及JSONP跨域问题。</li>
    <li>熟悉jQuery、Bootstrap、swiper、zepto、cssFrameWork框架插件。</li>
    <li>熟悉git版本管理系统和gulp本地开发工具。</li>
    <li>熟悉SPA单页面webapp开发。</li>
    <li>了解ES6新特性、Promise模式、AngularJs。</li>
    <li>熟悉使用sublime，Hbuilder编辑工具。</li>
    <li>具有良好的英文文档阅读能力, 编程基础扎实, 具备良好的编程习惯，熟知代码规范。</li>
    <li>具有较强的自学能力。</li>
</ul>
</div>

  </div>











</div>

 </ion-content>
</ion-view>







