<ion-view view-title="工作学习经历">
  <ion-content has-bouncing='true'>
   <div class="list card">

  <div class="item item-avatar">
    <img src="img/logodx.png">
    <h2>南阳理工学院</h2>
    <p></p>
  </div>

  <div class="item item-body">
    <img class="full-image" src="img/daxue.png">
    <p>
      我于2010-2014年在母校进行学习，四年的时间里，不仅学到了很多的知识，也结识了很多志同道合的朋友同学，锻炼了自己的多方面能力。
    </p>
    
  </div>
<!-- 工作经历 -->
<div class="item item-avatar">
    <img src="img/shangyulogo.png">
    <h2>河南商宇科技有限公司</h2>
    <p>职位：前端工程师</p>
  </div>

  <div class="item item-body">
    <img class="full-image" src="img/shangyu.png">
    <p>
      我于2014年2月至2016年6月在河南商宇科技公司上班，期间的工作很大的提升了了自己的知识水平，加上自己业余的学习，让自己更上一层楼。
    </p>
    
  </div>
</div>

  </ion-content>
</ion-view>
