<ion-view view-title="我">

    <ion-content class="padding" has-bouncing='true'>
        <div class="aboutme" ng-show="$root.key">
            <div class="list">
                <span class="item item-thumbnail-left" href="#">
       <img src="img/photo.png"">
      <!-- <h1>张帅</h1> -->
      <h2 style="line-height:40px;">姓名：张帅</h2>
<h2>应聘岗位：前端开发工程师</h2>
    </span>
            </div>
            <div class="list">
                <div class="item item-divider">
                    基本信息
                </div>
                <span class="item item-icon-left" href="#">
                                <i class="icon ion-android-person"></i> 张帅
                            </span>
                <span class="item item-icon-left" href="#">
                                <i class="icon ion-android-time"></i> 1991.4.15
                            </span>
                <span class="item item-icon-left " href="#">
                                <i class="icon ion-ios-telephone"></i> 18184031630
                            </span>
                <span class="item item-icon-left " href="#">
                                <i class="icon ion-social-wordpress"></i> CET-6
                            </span>
                <span class="item item-icon-left" href="#">
                                <i class="icon ion-university"></i> 南阳理工学院（本科）
                            </span>
                <span class="item item-icon-left" href="#">
                                <i class="icon ion-android-globe"></i>河南濮阳
                            </span>
                <span class="item item-icon-left" href="#">
                               <i class="icon ion-home"></i>深圳市南山区
                            </span>
                <span class="item item-icon-left" href="#">
                               <i class="icon ion-email"></i>a1520765642@163.com
                            </span>
            </div>
            <div class="list">
                <div class="item item-divider">
                    兴趣爱好
                </div>
                <span class="item" href="#">
    音乐：纯音乐、英文歌曲、经典老歌。
  </span>
                <span class="item" href="#">
    阅读：散文、小说、传记、名著文集。
  </span>
                <span class="item" href="#">
    影视：美剧、武侠、直播、历史剧。
  </span>
                <span class="item" href="#">
   游戏：下棋，lol，闯关。
  </span>
                <span class="item" href="#">
    阅读：散文、小说、传记、名著文集。
  </span>
            </div>
            <div class="list">
                <div class="item item-divider">
                    性格与自我评价
                </div>
                <span class="item item-body" href="#">
   
  
                          性格：性格偏于内向，宅.
                          
                          为人处世：为人诚恳，乐观向上，兴趣广泛，爱交朋友。
                      
                       不服输，有韧性。
                     </span>
                <span class="item item-body" href="#">
                          自我评价：有责任心，喜欢钻研，擅长逻辑思维，热爱新科技，热爱互联网,能吃苦，品质坚韧，执着。
                        </span>
            </div>
            <div class="list">
                <div class="item item-divider">
                    求职意向
                </div>
                <span class="item" href="#">
    期望职位：Html5开发工程师   
  </span>
                <span class="item" href="#">
    工作性质：全职 
  </span>
                <span class="item" href="#">
    到岗时间：1周内到岗
  </span>
                <span class="item" href="#">
   期望工作地点：深圳
  </span>
            </div>
        </div>
        <div class="aboutme" ng-hide="$root.key">
            <div class="list">
                <span class="item item-thumbnail-left" href="#">
       <img src="img/photo.png"">
      <!-- <h1>张帅</h1> -->
      <h2 style="line-height:40px;">name：zhangshuai</h2>
<h2>position：Front End Software Engineer</h2>
    </span>
            </div>
            <div class="list">
                <div class="item item-divider">
                    basic information
                </div>
                <span class="item item-icon-left" href="#">
                                <i class="icon ion-android-person"></i> zhangshuai
                            </span>
                <span class="item item-icon-left" href="#">
                                <i class="icon ion-android-time"></i> 1991.4.15
                            </span>
                <span class="item item-icon-left " href="#">
                                <i class="icon ion-ios-telephone"></i> 18184031630
                            </span>
                <span class="item item-icon-left " href="#">
                                <i class="icon ion-social-wordpress"></i> CET-6
                            </span>
                <span class="item item-icon-left" href="#">
                                <i class="icon ion-university"></i> NANYANG INSTITUTE OF TECHNOLOGY
                            </span>
                <span class="item item-icon-left" href="#">
                                <i class="icon ion-android-globe"></i>puyang city of henan province
                            </span>
                <span class="item item-icon-left" href="#">
                               <i class="icon ion-home"></i>nanshan area in shenzhen
                            </span>
                <span class="item item-icon-left" href="#">
                               <i class="icon ion-email"></i>a1520765642@163.com
                            </span>
            </div>
            <div class="list">
                <div class="item item-divider">
                    Hobbies
                </div>
                <span class="item" href="#">
    music:pure music,English music,classical music
  </span>
                <span class="item" href="#">
   reading:essay,novel,biography,masterpiece
  </span>
                <span class="item" href="#">
   film:us TV series,swordsmen film,history film
  </span>
                <span class="item" href="#">
   game:chess,lol
  </span>
            </div>
            <div class="list">
                <div class="item item-divider">
                    characters and self-assessment
                </div>
                <span class="item item-body" href="#">
                      characters: a little easygoing, honest,optimistic,broad interests,like to making friends.

  
                     </span>
                <span class="item item-body" href="#">
                         
                          assessment:responsibility,intensively,logical thinking,technology-loving,hard-working.
                        </span>
            </div>
            <div class="list">
                <div class="item item-divider">
                    job intension
                </div>
                <span class="item" href="#">
    position intension：Front End Software Engineer  
  </span>
                <span class="item" href="#">
    job category: full-time;
  </span>
                <span class="item" href="#">
     begin work: within one week;
  </span>
                <span class="item" href="#">
   place intension: shenzhen;
  </span>
            </div>
        </div>
    </ion-content>
</ion-view>
