<ion-view view-title="技能">
  <ion-content has-bouncing='true'>
    <ion-list>

 <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="skill in skills" type="item-text-wrap" href="#/tab/skill/{{skill.id}}" ng-if="skill.id<1">
        <img ng-src="{{skill.face}}">
        <h2>{{skill.name}}</h2>
        <p>{{skill.lastText}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(skill)">
          Delete
        </ion-option-button>
      </ion-item>

    <div class="item item-divider">规范</div>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="skill in skills" type="item-text-wrap" href="#/tab/skill/{{skill.id}}" ng-if="skill.id<=3&&skill.id>=1">
        <img ng-src="{{skill.face}}">
        <h2>{{skill.name}}</h2>
        <p>{{skill.lastText}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(skill)">
          Delete
        </ion-option-button>
      </ion-item>

<div class="item item-divider">框架</div>

      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="skill in skills" type="item-text-wrap" href="#/tab/skill/{{skill.id}}" ng-if="skill.id>3&&skill.id<11">
        <img ng-src="{{skill.face}}">
        <h2>{{skill.name}}</h2>
        <p>{{skill.lastText}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(skill)">
          Delete
        </ion-option-button>
      </ion-item>

<div class="item item-divider">工具</div>

<ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="skill in skills" type="item-text-wrap" href="#/tab/skill/{{skill.id}}" ng-if="skill.id>=11&&skill.id<16">
        <img ng-src="{{skill.face}}">
        <h2>{{skill.name}}</h2>
        <p>{{skill.lastText}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(skill)">
          Delete
        </ion-option-button>
      </ion-item>

<div class="item item-divider">其他</div>
<ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="skill in skills" type="item-text-wrap" href="#/tab/skill/{{skill.id}}" ng-if="skill.id>=16">
        <img ng-src="{{skill.face}}">
        <h2>{{skill.name}}</h2>
        <p>{{skill.lastText}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(skill)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
