
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="我" icon-off="ion-person" icon-on="ion-person" href="#/tab/me">
    <ion-nav-view name="tab-me"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="技能" icon-off="ion-android-desktop" icon-on="ion-android-desktop" href="#/tab/skill">
    <ion-nav-view name="tab-skill"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="作品" icon-off="ion-ios-list" icon-on="ion-ios-list" href="#/tab/project">
    <ion-nav-view name="tab-project"></ion-nav-view>
  </ion-tab>
   <ion-tab title="经历" icon-off="ion-ios-pricetags" icon-on="ion-ios-pricetags" href="#/tab/work">
    <ion-nav-view name="tab-work"></ion-nav-view>
  </ion-tab>


</ion-tabs>
