$font-heiti-light: Heiti SC Light, Helvetica Neue, Helvetica, STHeiTi, sans-serif;
$font-heiti-medium: Heiti SC Medium, Heiti SC Light, Helvetica Neue, Helvetica, STHeiTi, sans-serif;

@font-face {
  font-family: yofont;
  src: url("/course-webapp/images/iconfont/iconfont.woff") format("woff"), url("/course-webapp/images/iconfont/iconfont.ttf") format("truetype");
}

@font-face {
  font-family: yofont;
  src: url("/course-webapp/images/iconfont/iconfont-menu.woff") format("woff"), url("/course-webapp/images/iconfont/iconfont-menu.ttf") format("truetype");
}

body {
	background-color: #fff !important;
}

%focus {
  > ul {
    @include flexbox(flex);
    width: 100%;
    height: 100%;
    li {
      &:first-child {
        @include box-sizing(border-box);
        width: .74rem;
        padding: .15rem .1rem .1rem .15rem;
        img {
          width: 100%;
        }
      }
      &:last-child {
        @include flex(1);
        @include flexbox(flex);
        @include flex-direction(column);
        @include justify-content(center);
        h2 {
          font-size: .14rem;
          color: #000;
          margin-bottom: .03rem;
        }
        p {
          font-size: .12rem;
          color: #999;
        }
      }
    }
  }
}

%dock-menu {
  > div {
    background: #fff;
    @extend %focus;
    margin-bottom: .05rem;
    > p {
      @include box-sizing(border-box);
      height: .33rem;
      padding-left: .2rem;
      line-height: .33rem;
      @include border(0 0 1px 0, #e5e5e5);
    }
    .zan {
      position: relative;
      ul {
        @include flexbox(flex);
        position: absolute;
        right: .04rem;
        top: .1rem;
        li {
          padding: 0;
          &:first-child {
            color: #e5e5e5;
            text-align: right;
            padding-top: .04rem;
          }
          &:last-child {
            color: #999;
            width: .3rem;
            text-align: center;
          }
        }
      }
    }
  }
}
